<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title> WebFreshCalpy </title>
        <!-- font in recursive use asimetric chracter in code in hosttttt -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Trirong" rel="stylesheet">
        <link rel="stylesheet" href="static/warder.css">
        <s></s>
        <s></s>
        <s></s>
        <s></s>
        <s></s>
        <s></s>
        <s></s>
        <s></s>
        <s></s>
        <s></s>
        <s></s>
        <s></s>
        <s></s>
        <style>
            h2{color: #f1f1f1;
                font-family: "Trirong", serif; 
                font-size: 60px;
                padding: 50 260px; 
            }
        </style>
    </head>
    <body>
        <!-- <h1> Precent </h1> -->
        <center> <h2> WebFreshCalpy </h3> </center>
        
        <!-- <p> <button type="submit"> Get Fresh </button></p> -->
        <section class="acesspoint">
            <form action="/acesspoint"  method="POST">
                <p> <input type="submit" name="Get Fresh" id="calc_raiz" class="btn" /> </p>
                <p> {{ establer }} </p> 
            </form>
        </section>
    </body>
</html>